[Unit]
Description=Fix locking bug after resume
After=sleep.target

[Service]
User=%I
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/xdotool mousemove_relative 1 1

[Install]
WantedBy=sleep.target
